---
import { getRelativeLocaleUrl } from "astro:i18n";
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";

// components
import Button from "@components/button/Button.astro";

// utils
import { slugify } from "@js/textUtils";
import { getLocaleFromUrl } from "@js/localeUtils";
import { useTranslations } from "@js/translationUtils";

const currLocale = getLocaleFromUrl(Astro.url);

interface Props {
	project: CollectionEntry<"projects">;
}

const { project, ...rest } = Astro.props;
const { title, image, technologies } = project.data;
---

<a
	href={getRelativeLocaleUrl(currLocale, `/projects/${slugify(project.id)}`)}
	class="group border-border relative overflow-hidden rounded-2xl border"
	{...rest}
>
	<div class="aspect-video">
		<Image
			src={image}
			alt={`${title} - Project Preview`}
			width={450}
			densities={[1.5, 2]}
			loading="lazy"
			class="h-full w-full object-cover"
		/>
	</div>
	<div
		class="bg-primary/90 absolute inset-0 flex items-center justify-center opacity-0 transition-all duration-300 group-hover:opacity-100"
	>
		<div
			class="translate-y-4 transform p-4 text-center transition-transform group-hover:translate-y-0"
		>
			<h3 class="text-base-50 mb-2 text-xl font-bold">{title}</h3>
			<p class="text-base-200 text-sm">{technologies.join(" / ")}</p>
			<span
				class="text-base-50 border-base-50/30 mt-4 inline-block border-b transition-colors hover:border-white"
			>
				View Project →
			</span>
		</div>
	</div>
</a>
