---
// main layout
import BaseLayout from "@layouts/BaseLayout.astro";

// components
import ContactSection from "@components/contact/ContactSection.astro";
---

<BaseLayout
	title="Contact Us"
	description="Contact us and we will help you find the right plan or answer any questions."
>
	<div class="bg-background dark pt-12">
		<ContactSection class="min-h-screen pt-36" />
	</div>
</BaseLayout>
