---
// layout
import BaseLayout from "@layouts/BaseLayout.astro";

// components
import CategoryCloud from "@components/category-cloud/CategoryCloud.astro";
import BlogIndexLayout from "@layouts/BlogIndexGridDetailed.astro";

// utils
import { getAllPosts } from "@js/blogUtils";
import { getLocaleFromUrl } from "@js/localeUtils";

const currLocale = getLocaleFromUrl(Astro.url);
const posts = await getAllPosts(currLocale);
---

<BaseLayout
	title="My blog posts"
	description="Learn from my blog posts about web development, design, and more."
>
	<div class="site-container mt-24 md:mt-36">
		<!-- Header -->
		<div class="mx-auto mb-16 max-w-7xl">
			<div class="grid gap-8 md:grid-cols-5">
				<!-- Left Column - Blog Heading -->
				<div class="text-center md:col-span-3 md:text-left">
					<h1 class="h2 mb-4">Blog</h1>
					<p class="description opacity-80 lg:text-xl">
						Insights and thoughts on design, development, and creativity
					</p>
				</div>

				<!-- Right Column - Tags Box -->
				<div
					class="bg-base-100 dark:bg-base-900 flex flex-col items-center justify-center rounded-2xl p-6 text-center md:col-span-2 md:items-start md:text-left"
				>
					<h2 class="mb-4 text-lg font-bold">Categories</h2>
					<CategoryCloud showCount={true} class="justify-center md:justify-start" />
				</div>
			</div>
		</div>

		<!-- Blog Posts Grid -->
		<BlogIndexLayout posts={posts} class="mt-10 pb-12 md:pb-24" />
	</div>
</BaseLayout>
