---
import { Icon } from "astro-icon/components";

interface Props {
	name: string;
	url: string;
	icon: string;
}

const { name, url, icon } = Astro.props;
---

<a
	href={url}
	target="_blank"
	rel="noopener noreferrer"
	class="primary-focus text-primary dark:text-base-400 hover:text-primary-dark dark:hover:text-primary transition-colors"
	aria-label={`Follow me on ${name}`}
>
	<Icon name={icon} class="h-6 w-6" />
</a>
