---
import { type CollectionEntry, getCollection, render } from "astro:content";
import { type InferGetStaticPropsType } from "astro";

// layout
import BaseLayout from "@layouts/BaseLayout.astro";

// components
import ExternalLink from "@components/markdown-components/ExternalLink.astro";

// utils
import { filterCollectionByLanguage } from "@js/localeUtils";
import { defaultLocale } from "@config/siteSettings.json";

export async function getStaticPaths() {
	const otherPages: CollectionEntry<"otherPages">[] = await getCollection(
		"otherPages",
		({ data }) => {
			// filter out draft pages
			return data.draft !== true;
		},
	);

	// get rid of pages from other languages and remove locale from slug
	const filteredPages = filterCollectionByLanguage(otherPages, defaultLocale);

	return filteredPages.map((page) => ({
		params: { page: page.id },
		props: page,
	}));
}

type Props = InferGetStaticPropsType<typeof getStaticPaths>;
const page = Astro.props as Props;

// convert markdown to html
const { Content } = await render(page);
const { title, description } = page.data;
---

<BaseLayout title={title} description={description}>
	<div class="mx-auto mt-24 max-w-3xl px-4 md:mt-36 md:px-8">
		<div class="mx-auto mb-16 max-w-2xl text-center">
			<h1 class="h2 mb-4">{title}</h1>
			<p class="description text-xl opacity-80">{description}</p>
		</div>
		<div class="markdown-content mx-auto max-w-3xl py-16 text-sm md:text-base">
			<Content components={{ a: ExternalLink }} />
		</div>
	</div>
</BaseLayout>
